{% extends 'base.html' %}
{% block content %}

<h1>Detail Page</h1>
<div>
    <div>{{workout.name}}</div>
    <p>Completed On: {{workout.date}}</p>
</div>
<div>
    <form action="{% url 'add_exercise' workout.id %}" method="POST">
        {% csrf_token %}
        {{exercise_form.as_p}}
        <input type="submit" value="Add Exercise">
    </form>
    <table>
        <thead>
            <tr><th>Exercise</th><th>Sets</th></tr><tr><th>Reps</th><th>Weight</th></tr>
        </thead>
        {% for exercise in workout.exercise_set.all %}
        <tr>
            <td>{{exercise.name}}</td>
            <td>{{exercise.sets}}</td>
            <td>{{exercise.reps}}</td>
            <td>{{exercise.weight}}</td>
        </tr>
        {% endfor %}
    </table>

    <form action="{% url 'find_exercise_max' workout.id %}" method="GET">
        <input type="text"  name="q" placeholder="Search for exercise to find your goals for today!">
        <button type="submit">Find Milestones</button>
    </form>

    {% if best_exercise %}
        <div>Your highest weight ever done on {{best_exercise}} was {{best_exercise.weight}}</div>
    {% endif %}

    {% if best_reps_exercise %}
        <div>Your highest weight for atleast 6 reps on {{best_reps_exercise}} was: {{best_reps_exercise.reps}} reps of {{best_reps_exercise.weight}}</div>
    {% endif %}
    
    {% if messages %}
        <div>     
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <div>
        <a href="{% url 'update_workout' workout.id %}">Edit</a>
        <a href="{% url 'delete_workout' workout.id %}">Delete</a>
    </div>
</div>
    
{% endblock %}