{% extends 'base.html' %}
{% block content %}

<h1>Resources</h1>

<div>
    <div class="">
        <h3>What is Progressive Overloading and Why is it Important?</h3>
        <button class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1">Expand</button>
    </div>
        <div class="collapse multi-collapse" id="multiCollapseExample1">
            <p>Progressive overloading is a fundamental principle in strength training and muscle building. At its core, it means gradually increasing the demands placed on your muscles over time. The idea is simple: to get stronger and build more muscle, you need to consistently challenge your body with heavier weights, more repetitions, or more challenging exercises. Muscles adapt to stress. When you lift weights or engage in resistance training, your muscles experience stress, leading to tiny tears in the muscle fibers. As your body repairs these tears, your muscles grow stronger and larger to better handle future demands. To keep this growth going, you need to continually increase the stress on your muscles, hence the importance of progressive overloading.</p>
        </div>
    <div>
        <h3>What Steps Can You Take to Begin Progressively Overloading?</h3>
        <button class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Expand</button>
        <div class="collapse multi-collapse" id="multiCollapseExample2">
            <p>INCREASE WEIGHT: One of the most straightforward ways to implement progressive overloading is by gradually increasing the amount of weight you lift. As you get stronger, adding more weight to your exercises helps challenge your muscles further. Start with a weight that you can lift comfortably for a specific number of repetitions, and over time, increase the weight incrementally.</p>
            <p>ADD REPETITIONS: Another method is to add repetitions to your sets. If you're performing a particular exercise for 8 reps, aim to increase it to 10, 12, or more as you progress. This extra volume places greater stress on your muscles. Once you can achieve over 12 reps comfortably, increase weight and continue the cycle.</p>
            <p>ADJUST SETS: Manipulating the number of sets can also contribute to progressive overloading. If you're currently doing 3 sets of an exercise, consider increasing it to 4 or 5 sets. This increases the overall workload on your muscles.</p>
            <p>FOCUS ON FORM: Maintaining proper form is crucial for safe and effective progressive overloading. Ensure you have a solid foundation in terms of exercise technique before adding more weight or reps.</p>
            <p>VARY EXERCISES: Don't stick to the same exercises all the time. Introduce variations or new movements to target your muscles from different angles. This can prevent plateaus and keep your muscles adapting. Varying the order in which you perform exercises is also a good idea, so if you always start your chest days with benching, maybe try switching it up and benching in the middle of your workout!</p>
        </div>
    </div>
</div>

{% endblock %}