{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css/'%}">
    <title>Gym Tracker</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body class="entire-body">
    <header>
        <nav class="main-nav-container">
            <ul class="nav nav-tabs justify-content-end">
                <li class="nav-item"><a href="{% url 'home' %}" class="nav-link" id="home-link">Progressive Over-Achieving!</a></li>
                <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">Resources</a></li>
                {% if user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'create_workout' %}" class="nav-link">Create Workout</a></li>
                    <li class="nav-item"><a href="{% url 'history' %}" class="nav-link">Workout History</a></li>
                    <!-- <li><a href="{% url 'logout' %}">Logout</a></li> -->
                    <form action="{% url 'logout' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="nav-item" id="logout-button">Log Out</button>
                    </form>
                {% else %}
                    <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Login</a></li>
                    <li class="nav-item"><a href="{% url 'signup' %}" class="nav-link">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div class="main-page-content">
        {% block content %}
        {% endblock %}
        </div>
    </main>
    <!-- <footer class="footer">
        <div>Created By Carter Nichols</div>
    </footer> -->
</body>
</html>